<div class="login">
  <h4>登录</h4>
  <%= form_for(User.new, url: sessions_path, data: {
      remote: true, type: 'script'
  }, html: {class: 'login-by-password'}, validate: true) do |f| %>
      <div class="form-group">
        <div hint-css>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-phone"></i>
            </span>
            <input name="user[accounts]" class="form-control" tabindex="1" placeholder="请输入手机号">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="App.user.loginBySms(this)">短信登录</button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div hint-css>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <%= f.text_field :password, type: 'password', class: 'form-control', tabindex: '2', placeholder: '请输入密码' %>
            <input type="hidden" name="login_type" value="password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-default btn-block" onclick="App.user.register()">注册</button>
        </div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block">登录</button>
        </div>
      </div>
  <% end %>

  <hr class='login'/>
    <div class="otherlogin">
      <li>使用其它账号登录:</li>
    </div>
</div>
