<div class="bs-docs-container">
  <div class="bs-docs-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-action right">
            <%= link_to '私信', rooms_show_path , class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen">
.navbar-action {margin-top:20px}
</style>

<test1>
</test1>
<test2>
</test2>
