default: &default
  adapter: postgresql
  encoding: unicode
  # encoding: utf8
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>

development:
  <<: *default
  database: mypgdata
  pool: 5

test:
  <<: *default
  database: mypgdata
  pool: 5

production:
  <<: *default
  database: mypgdata
  pool: 5
