.color-white {
  color: #fff !important;
}

.color-red {
  color: red !important;
}

.color-blue {
  color: #48b8ce !important;
}

.color-blue-2 {
  color: #0171bd;
}

.color-gray {
  color: #ddd;
}

.color-green {
  color: #e0fbc6;
}
